<h1>Welcome To My Amazing Web Application! Stay Tuned And Soon This Will Be Amazing!</h1>

<p> The idea of this web app is simple: it will contain a huge selection of healthy meals that people can load and then get information on how to make them, what ingredients are needed, etc. It may include a contribute feature so people can add their own meal ideas. It may also need a feature that allows future admins to approve meal ideas so people don't upload silly things!</p>

<% @meals.each do |meal| %>
	<div>
		<h1> <%= meal.name %> </h1> <br />
		<i> <%= meal.ingredients %> </i><br/>
		<p> <%= meal.instructions %> </p>
	</div>
<% end %>



<%= link_to 'Add Your Meal Idea', new_meal_path %>